.quant-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quant-hd {
height: 90px;
}

small > strong,
small > strong > a {
  color: red;
}

small > strong:hover,
small > strong > a:hover,
small > strong > :active,
small > strong > a:active {
  scale: 1.1;
  transition: 0.2s;
}

.button-button:hover,
.button-button:active {
  background: #6c82b7;
  color: white;
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}
#csv-elem.drop-container {
  opacity: 0.4;
}
.button-button-submit {
  background: #e19b62;
  color: white;
  margin-right: 2em;
  padding: 0.75em;
  border-radius: 0.4em;
  border: none;
}

.button-button-submit:hover,
.button-button-submit:active {
  background: #6c82b7;
  color: white;
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}

.button-button-cancel {
  background: #1f3d85;
  color: white;
  margin-right: 2em;
  padding: 0.75em;
  border-radius: 0.4em;
  border: none;
}

.button-button-cancel:hover,
.button-button-cancel:active {
  background: #6c82b7;
  color: white;
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}

#csv-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.form-row-title {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.form-ro  {
  display: flex;
  justify-content: space-between;
  align-content: end;
}

#rep-toggle {
  padding: 0;
  margin: 0;
}


.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 1em;
  width: 80%;
  min-width: 80%;
  top: 0;
}

.form-row-spacer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
}
.form-row > input {
  flex: 2;
}
.form-row > select {
  flex: 2;
  /* //padding: .2em; */
}

@media only screen and (max-width: 740px) {
  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input[type="file"] {
  width: 100%;
  max-width: 100%;
  color: #444;
  padding: 0.3em;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button:hover,
input[type="file"]::file-selector-button:active {
  background: #6c82b7;
  color: white;
}

.form-row > button {
  padding: 0.5em;
}

textarea::placeholder {
  size: 0.1em;
  opacity: 0.3;
}

#bad-sample-list.bad-sample-input-class {
  height: 10em;
  margin-top: 1em;
  min-height: 10em;
  max-height: 30em;
  width: 100%;
  resize: vertical;
}

#bad-sample-list.bad-sample-input-class-error {
  border-width: thick;
  border-color: red;
  margin-top: 1em;
  min-height: 10em;
  height: 10em;
  max-height: 30em;
  width: 100%;
  resize: vertical;
  outline: none;
}

#bad-sample-list-requirements {
  padding-top: 0.5em;
  margin: auto .2em auto .2em
}

/*https://www.quackit.com/css/flexbox/tutorial/align_form_elements_with_flexbox.cfm*/








