.line-chart-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.data-table-div {
  height: 800px;
  width: 100%;

}


.loading-text {
  font-size: 30px;
  padding-left: 50%;
  padding-bottom: 20px;
}

.loading-text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}


.button-button-hide {
  background: #6c82b7;
  color: white;
  margin-right: 2em;
  padding: 0.75em;
  border-radius: 0.4em;
  border: none;
}

.button-button-hide:hover,
.button-button-hide:active {
  background: #e19b62;
  color: white;
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}



.group-buttons-div > * {

  margin-left: 2em;
  /* margin-right: 0; */
}