.g-tutor-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto 40px auto 40px;
}

.g-tutor-title {
  margin-bottom: 40px;
}